
#image
{
    position: absolute;
    left: 15%;
    width: 60%;

}
img{
    background-repeat: no-repeat;
}
#conejo:hover
{
 
   width: 50%;
    
}
#nombre
{
   
    position: absolute;
    left: 34%;
    top: 20%;


}
.ab{
   margin-top: 100%;
   margin-left: 100%;
}
#hr1
{
    width: 30%;
    
}

.navbar-expand-lg
{
    margin-bottom:5%;
    width: 0%;
}

#p1
{
    position: absolute;
    left: 23%;
    bottom:50%;
    font-size: 500%;
    
}

.carru
{
    width:40vw;
    position:absolute;
    left: 28vw;
    top: 13%;
}
.carusel
{
    width:40vw;
    
}
#p2
{
    font-size: 300%;
    display: flex;
    justify-content:"center";
    align-items: "center";
    margin: auto;
    position: absolute;
    left: 30%;
    bottom:40%;
}

.hr2
{
    position: absolute;
    width: 60%;
    left: 18%;
    top:60%;
     
    height: 12px; 
    background: black; 
   
}
.hr3
{
    position: absolute;
    width: 60%;
    left: 18%;
    top: 30%;
     
    height: 12px; 
    background: black; 
   
}
#card1
{
     position: absolute;
     top: 1%;
    
}
#portafolio
{
    
    top: 120%;
}

#port
{
   position: absolute;
   bottom:-100px;

 
}

#generalAbout img
{
   position:absolute;
   top: 100%;
   z-index: -20;
}

#h1
{
    position: absolute;
    left: 65%;
    top:110%;
    z-index: 20;
}
#h3
{
    position: absolute;
    left: 50%;
    top:130%;
    z-index: 20;
}
#menu
{
    
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 100;
}

#generalPortafolio img
{
    width: 100%;
    position:absolute;
    top: 200%;
    z-index: -1; 
    margin-bottom: 0%;

}
#generalContacto 
{
    position: absolute;
    top: 320%;
    z-index: 1;
    background-color: #373535;
    color: #f1def0;
    width: 100vw;
    height: 20vh;
    text-align: center;
    margin-top: 0%;

}
#proyectos
{
    background-image: url("Scollo Pilar (3).png");
    height:100vh;
    width: 100%;
    background-color: #FAF3DD;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#grupo
{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   right: 25%;
    
}
#habilidades
{

    height:100vh;
    width: 100%;
    background-color: #FAD5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-body
{
    background-color: #f1bed4;
    
}
#java
{
    width: 123%;
    background-color: #f1bed4;
}

#carta
{

    background-color:#f1bed4;;

}
#otros
{
    width: 40%;
    position: relative;
    left: 30%;
    margin-top:21px;
    padding-top: 4%;
    padding-bottom: -10px;
}
#otroscarta
{
    position: relative;
    
    
}
#contacto
{
    height:100vh;
    width: 100%;
    background-color: #FAF3DD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Scollo Pilar (4).png");
}

.botonfin
{
    
    width: 130%;
    
    display:inline-block;
    padding: 30%;
    margin: 2.25em 20px;
    background-color: #DCBCD0;
    border-radius: 10%;
    border-color:  #DCBCD0;
    left: 20%;
}
.btn
{
    background-color: #DCBCD0;
    border: #DCBCD0;
}
.btn:hover
{
    background-color: #DCBCD0;
    border: #DCBCD0;
}

#bot
{
    display: flex;
    justify-content: center;
    align-items: center;

}


#c
{
    
    width: 27%;
    padding-top: 7%;
    padding-bottom: -10px;
    position: relative;
    left: 40%;
    background-color: #f1bed4;;
}
.card-header
{
    background-color: #f1bed4;
    border-color: #f1bed4;
}
#about
{
   
    height:100vh;
    width: 100%;
    background-color:#FAD5E5 ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.col
{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.card:hover
{
    box-shadow: 0px 0px 30px  #e456d1;
    
}
.card-img-top:hover{
    width: 101%;
    transition:0.5ms;
}
.card
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40%;
}
#textoabout
{
   background-color: #977EA0; 
   border-radius: 2%;
   width: 80%;
   height: 50%;
   text-align: center;
   display: flex;
    justify-content: center;
    align-items: center;
   
}
#inicio
{
    height:100vh;
    width: 100%;
    background-color: #FAF3DD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Diseño sin título (12).png");
    background-position:100%;
    background-repeat:no-repeat ;
}
#textoabout :hover{
    box-shadow: 0px 0px 30px  #837d7d;
    
     
}
body
{
   background-color: #FAF3DD;
}
#botonLateral
{ 
  
    float: left;
  width: 6.25em;
  height: 3.125em;
  
  
  margin-top: 50pt;
}
#boton
{
   
    display:inline-block;
    padding: 30%;
    margin: 2.25em 0px;
    background-color: #DCBCD0;
    border-radius: 10%;
    border-color:  #DCBCD0;
    left: 20%;


}
#conejo
{
    width: 40%;
}
#titulo

{
    min-width: 15.625em;
    width: 125em;
    height: 18.75em;
    text-align: center;
    float: right;
    width: 40%;
    float: left;
    position: relative;
    margin-left: 0% auto;
    margin-right: 0 auto;
    
   
}



  
#botones
{
    min-width: 15.625em;
    position: absolute;
    left:10%;
    top:5%;
    
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 1%;
    margin: -8%;
    padding: 10%;
  
}

#uno
{
    font-family: monospace;
}
#about
{
    height:100vh;
    flex: 1;
    
}
html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
  
  }
  #sobre
  {
    
    white-space:nowrap;
   }
   .carousel
   {
    visibility:hidden;
    display: none;
   }
   #habilidades2{
       

    visibility: hidden;
    display: block;
    
    
  }
 

 @media screen and (max-width:1000px) {
    #inicio{
    background-image:none;
    }
    #uno
    {
        font-size: 90%;
      
    }
    .dos
    {
        font-size: 90%
    }
    #boton
   {
    padding: 5%;
   }
   #conejo
   {
    width: 80%;
   }
   

   .row{
    visibility: hidden;
    display: none;
   }
   
   .carousel{
    visibility: visible;
    display:block;
    width: 60%;
   }

   #textoabout h5
   {

    font-size: 60%;
    
      }
      .card{
       

        visibility: hidden;
        display: block;

        
      }
      #habilidades
      {
        visibility: hidden;
        display: none;
        
      }
      
      #bot
      {
        width: 20%;
        position: relative;
        left: 30%;
      }
    
}

